.alert.alert-warning
  %p
    %strong Wichtig: Die Ämter-Historie wird gespeichert.
    Es ist daher nicht sinnvoll, das Amt "Senior" in "Fuxmajor" umzubennennen, wenn der letztjährige Senior in diesem Semester der Fuxmajor ist! Das Bearbeiten der Ämterbezeichnungen ist deshalb möglich, um die lokalen Unterschiede im System abbilden zu können, etwa, wenn der örtliche Kassenwart "Schatzmeister" heißt.
  %p Es ist ferner nicht möglich, Ämter zu löschen, etwa, weil ein Amt in diesem Semester nicht besetzt ist. Denn durch das Löschen würde die Ämter-Historie verloren gehen. Falls in besonderen Fällen tatsächlich ein Amt wieder gelöscht werden muss, meldet euch bitte über den blauen Hilfe-Knopf ganz oben.
