= render partial: 'groups/tabs', locals: {active: 'members'} if group

.card.memberships
  .card-header
    %h2= current_title
  .card-body
    %vue-edit-box
      = render partial: 'memberships_table', locals: {memberships: memberships}
