%p
  %strong Gutes Passwort:
  %code.has_tooltip{title: 'Die vier Begriffe zusammen ergeben das gute Passwort!'}
    %span.password_component abend
    %span.password_component lustig
    %span.password_component bowle
    %span.password_component lecker
  (Man braucht mehrere Jahre zum Knacken. Die Leerzeichen können Sie weglassen.)
%p
  %strong Schlechtes Passwort:
  %code
    %strike.has_tooltip{title: 'Für diejenigen, die diese Seite nur überfliegen, haben wir das schlechte Passwort vorsorglich durchgestrichen.', data: {placement: 'bottom'}} p4ssw0rt!
  (Man braucht 27 Sekunden zum Knacken.)
