rvm:
  - "2.0.0"
env: 
  - "RAILS_ENV=test DB=mysql"
before_script:
  - sh -c "sudo apt-get -y install pwgen"
  - sh -c "cp config/database.travis.yml config/database.yml"
  - sh -c "mkdir -p public/uploads"
  - sh -c "bundle & bundle exec rake db:drop db:create db:migrate"
