rvm:
  - "2.5.1"
env:
  - "WORKER_ID=0   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=1   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=2   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=3   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=4   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=5   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=6   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=7   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=8   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=9   NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=10  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=11  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=12  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=13  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=14  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=15  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=16  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=17  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=18  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=19  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=20  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=21  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=22  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=23  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=24  NUMBER_OF_WORKERS=25 CI_CATEGORY=features                                 RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql SELENIUM=true"
  - "WORKER_ID=0  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=1  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=2  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=3  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=4  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=5  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=6  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=7  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=8  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=9  NUMBER_OF_WORKERS=10 CI_CATEGORY=models      NO_RENEW_CACHE=true           RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=0  NUMBER_OF_WORKERS=3  CI_CATEGORY=models      NO_CACHING=true               RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=1  NUMBER_OF_WORKERS=3  CI_CATEGORY=models      NO_CACHING=true               RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=2  NUMBER_OF_WORKERS=3  CI_CATEGORY=models      NO_CACHING=true               RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
  - "WORKER_ID=0  NUMBER_OF_WORKERS=1  CI_CATEGORY=others                                    RAILS_ENV=test CI=travis COVERALLS_SILENT=true NEO4J_REST_URL_TEST=http://neo4j:neo4j@localhost:7474 DB=mysql"
cache:
  bundler: true
  directories:
    - node_modules
  yarn: true
dist: trusty
sudo: true
addons:
  firefox: latest
  chrome: stable
  apt:
    packages:
      - pwgen
      - libicu-dev
      - libxml2
      - libxslt-dev
      - libicu52
      - imagemagick
      - libmagick-dev
      - libmagickcore-dev
      - libmagickwand-dev
services:
  - redis-server
  - elasticsearch
  - neo4j
before_install:
  - travis_retry gem update --system
  - travis_retry gem install bundler
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver*.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
install:
  - travis_retry bundle install
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn
before_script:
  - sleep 10
  - cd demo_app/my_platform
  - cp config/database.travis.yml config/database.yml
  - cp config/secrets.example.yml config/secrets.yml
  - mkdir -p public/uploads
  - mkdir -p tmp/cache
  - bundle exec rake db:create db:migrate
  - bundle exec rake your_platform:install:node_modules || echo 'task not found'
  - bin/rails assets:precompile
  - cd ../..
  - "export DISPLAY=:99.0" # https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
  - bundle exec ruby script/tests
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/14aec2cb97b9e0f2a808
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

