- content_for :head, auto_discovery_link_tag(:rss, blog_path(@blog, format: "rss"))

#posts
  = render partial: 'blog_posts/teaser', collection: @blog_posts, as: :blog_post

- content_for :side_bar do
  = render partial: 'blogs/side_bar'
