%ul.thumbs
  - thumbs.each do |image|
    %li
      - # Images are fade in by javascript.
      %img{src: '', width: image.width, height: image.height, data: {src: image.thumb_url, mobile_photo_path: mobile_photo_path(image)}}
