- set_title("Gruppen-Mitgliedschaften - #{@user.title}")

%h1.memberships= "Gruppen-Mitgliedschaften von #{@user.title}"
%div
  = render partial: 'memberships_table', locals: {memberships: @memberships}
