body.registrations
  .box.confirm_password_change
    p
      margin-top: 20px
  .password_component
    margin: -2px
  .send_me_a_new_password_via_email
    margin-top: 8px
    display: block
  .pro_tipp_trigger
    opacity: 0.5
  .pro_tipp_body
    display: none