table.event_details
  th
    text-align: left
  td
    width: 75%
  tr
    vertical-align: top
  tr.description
    textarea
      height: 100px
  input, textarea
    width: 100%
    
  .multi_user_select_activator
    margin-left: 20px

form#invite
  margin: 20px
  margin-bottom: 40px
  textarea
    width: 98%
    height: 200px
    padding: 1%

ul.upcoming_events
  padding-left: 6px
  margin: 6px
li.upcoming_event
  list-style-type: none
  margin-bottom: 6px
.event.name
  display: block
  
.ics_export_buttons, .ics_abo_buttons
  float: right
  position: relative
  top: -44px
  left: -3px
  height: 0
  width: 600px

#ics_export, #ics_abo
  float: right

#ics_abo.btn
  position: relative
  top: -15px
  left: 2px

table.events_footer
  margin-left: 6px
  width: 98%
  vertical-align
  td
    vertical-align: bottom
  td.create_event
    text-align: right