- if profile_field.postal_address?
  - flagged = true
  - css_class = 'flagged'
- else
  - flagged = false
  - css_class = 'unflagged'

- if can? :update, profile_field
  - css_class += ' do_not_show_in_edit_mode'
  %span{ :class => "postal_address show_only_in_edit_mode profile_field_#{profile_field.id}",
         :data => { profile_field_id: profile_field.id, update_json_url: profile_field_path(profile_field, format: :json) } }
    %span.label.label-info
      %label.radio
        - if flagged
          %input(type="radio" name="postal_address" checked)
        - else
          %input(type="radio" name="postal_address")
        = t :postal_address_label
%span{ :class => "postal_address #{css_class} profile_field_#{profile_field.id}" }
  %span.label.label-info
    =t :postal_address_label
