- if profile_field.wingolfspost?
  - flagged = true
  - css_class = "flagged"
- else
  - flagged = false
  - css_class = "unflagged"

%span{ :class => "wingolfspost #{css_class} profile_field_#{profile_field.id}" }
  %span.label.label-info
    - if can? :update_restricted, profile_field
      %label.radio{ :class => 'show_only_in_edit_mode', :data => { profile_field_id: profile_field.id, update_json_url: profile_field_path(profile_field, format: :json) }}
        - if flagged
          %input(type="radio" name="wingolfspost" checked)
        - else
          %input(type="radio" name="wingolfspost")
        Wingolfspost
      .do_not_show_in_edit_mode
        Wingolfspost
    - else
      Wingolfspost
