.tagcloud.clearfix.bottommargin
  -#= tag_links_for blog_post
  = render partial: 'tags/tag_list', locals: {taggable: blog_post}
  - if can? :update, blog_post
    %a.edit_tag_cloud{href: '#'}
      = edit_icon
      = t :edit_tags
.clear