.single-post
  = render @blog_post

  = render partial: 'blog_posts/tag_cloud', locals: {blog_post: @blog_post}
  = render partial: 'blog_posts/related_posts', locals: {blog_post: @blog_post}
  = render partial: 'blog_posts/comments', locals: {blog_post: @blog_post}
