- notification || raise('no notification given')

= render partial: 'notifications/post_notification', locals: {notification: notification} if notification.reference.kind_of? Post
= render partial: 'notifications/comment_notification', locals: {notification: notification} if notification.reference.kind_of? Comment
= render partial: 'notifications/user_status_notification', locals: {notification: notification} if notification.reference.kind_of? User
