- # This file contains the links below a notification that allow
- # to respond to it directly.

- if notification.reference.class.name.in? ['Post', 'Comment']
  = link_to t(:write_a_comment), notification