%li#notifications_menu{class: "backendBarItem dropdown notifications"}
  - if current_user.notifications.upcoming.count > 0
    %a{href: "#", data: {toggle: 'dropdown'}}
      = t(:notifications)
      %span.badge= current_user.notifications.upcoming.count
    %ul.dropdown-menu
      %li.read_all= link_to t(:mark_all_notifications_as_read), read_all_notifications_path, remote: true, method: 'patch'
      - current_user.notifications.upcoming.order('created_at desc').each do |notification|
        %li= render notification