- #locals:
- active ||= 'posts'

%ul.nav.nav-tabs.group
  - if can? :use, :post_tab
    %li{class: active == 'posts' ? 'active' : ''}
      %a{href: group_posts_path(@group)} Nachrichten
  %li{class: active == 'profile' ? 'active' : ''}
    %a{href: group_profile_path(@group)} Kontakt & Profil
  %li{class: active == 'events' ? 'active' : ''}
    %a{href: group_events_path(@group)} Veranstaltungen
  %li{class: active == 'members' ? 'active' : ''}
    %a{href: group_members_path(@group)} Mitglieder
  %li{class: active == 'officers' ? 'active' : ''}
    %a{href: group_officers_path(@group)} Amtsträger
  - if can? :manage, @group
    %li{class: active == 'settings' ? 'active' : ''}
      %a{href: group_settings_path(@group)}=t :settings
    
