- #locals:
- active ||= 'posts'

%ul.nav.nav-tabs.group.group_tabs
  - if @group.group_of_groups?
    %li{class: active == 'subgroups' ? 'active' : ''}
      %a{href: group_subgroups_path(@group)}= @group.name
  - unless @group.group_of_groups?
    - # One can see the posts tab under one of these conditions:
    - # - The user can read all posts of this group.
    - # - The user can see this particular post (due to an invitation) and, therefore, the posts controller is currently used.
    - if can?(:index_posts, @group) or params[:controller] == 'posts'
      %li{class: active == 'posts' ? 'active' : ''}
        %a{href: group_posts_path(@group)} Nachrichten
    %li{class: active == 'profile' ? 'active' : ''}
      %a{href: group_profile_path(@group)} Kontakt & Profil
  %li{class: active == 'events' ? 'active' : ''}
    - if @group.use_semester_calendars?
      %a{href: group_current_semester_calendar_path(@group)}= t :semester_calendar
    - else
      %a{href: group_events_path(@group)} Veranstaltungen
  - unless @group.group_of_groups?
    %li{class: active == 'members' ? 'active' : ''}
      %a{href: group_members_path(@group)} Mitglieder
  %li{class: active == 'officers' ? 'active' : ''}
    %a{href: group_officers_path(@group)} Amtsträger
  - if can? :update, @group
    %li{class: active == 'settings' ? 'active' : ''}
      %a{href: group_settings_path(@group)}=t :settings
