%span.avatar.thumbnail.pull-left
  = user_avatar(@user, size: 128)
  -#- if can? :update, @user
  -#  .show_only_in_edit_mode
  -#    = form_for @user do |form|
  -#      - auto_trigger_class = params[:trigger_change_avatar] ? 'auto_trigger' : ''
  -#      = form.attachment_field :avatar, direct: true, class: auto_trigger_class
  -#
  -#    - if @user.avatar_id?
  -#      = button_to t(:remove_avatar), user_path(@user), params: {user: {remove_avatar: true}}, method: 'put', class: 'btn btn-outline-secondary btn-sm remove_avatar'
  -#
  -#    .uploading_avatar.alert.alert-success.hidden=t :uploading_avatar