- # Communication Box
- # This is extracted out into a partial because we needed to override the box in an app.
- if can? :update, @user
  .card
    .card-body
      %h2= t :communication
      = ajax_toggle user, :local_postal_mail_subscription, "Rundschreiben per Post erhalten"
