- user ||= @user
- if can? :change_status, user
  %vue_change_status_button{':user': user.to_json, ':corporations': user.corporations.select { |c| can? :update, c }.collect { |corporation| corporation.as_json.merge({statuses: corporation.status_groups_with_level.as_json})}.to_json }
