<h1><%= @title %></h1>
<div class="form">

  <legend><%=t :enter_details_for_new_user %></legend>

  <%= automated_form_for @user, :action => "create", :field_names => @ask_for_attributes, :submit_label => @title %>
  
</div>

