<%= content_box :heading => @title do %>
<% if @user %>
<p>Profil-Informationen</p>
<% else %>
<p>Der angegebene Benutzer ist im System nicht vorhanden.</p>
<% end %>
<% end %>

<% for title,profile_fields in @profile_field_groups %>
<%= content_box :heading => title do %>
<ul>
  <% for pf in profile_fields %>
  <li><%=h "#{pf.label}: #{pf.value}" %></li>
  <% end %>
</ul>
<% end %>
<% end %>


