<%= content_box :heading => @user.name do %>
<p>Profil-Informationen</p>
<% end  %>

<% for title,profile_fields in @profile_field_groups %>
<%= content_box :heading => title do %>
<ul>
  <% for pf in profile_fields %>
  <li><%=h "#{pf.label}: #{pf.value}" %></li>
  <% end %>
</ul>
<% end %>
<% end %>


