<%= content_box :heading => @user.name do %>
<span class=profile_fields>
  <ul>
    <% for pf in @profile_fields %>
    <li><%=h pf.label %>: <%=h pf.value %></li>
    <% end %>
  </ul>
</span>
<% end  %>
