- type_or_types = profileable.profile_field_type_by_section( section )
- if type_or_types.kind_of? Array
  %a.btn.dropdown-toggle.add_button.tool.show_only_in_edit_mode{data: {toggle: 'dropdown'}, href: '#'}
    = tool_icon( 'icon-plus icon-black' ) + " " + t(:add)
    %span.caret
  %ul.dropdown-menu
    - type_or_types.each do |type|
      %li
        = link_to_add_profile_field(profile_field_type: type, profileable: profileable, profile_section: section)

- else
  = add_button( url_for( :controller => :profile_fields,
                         :profileable_id => profileable.id,
                         :profile_field => {:type => type_or_types},
                         :section => section), :method => 'post')
