<div>
  <%= form.label field_name %>
  <%= form.text_field field_name, :class => "text" %>
  <% if post.errors[field_name] %>
    <div class="error_message"><%=h post.errors[field_name].first %></div>
  <% end %>
</div>
