- # locals:
- page ||= nil
- number_of_items ||= group_map_items.count
- sub_title ||= page.settings.group_map_sub_title.try(:gsub, " n ", " #{number_of_items} ")
- sub_title ||= t(:all_n_locations_in_germany, n: number_of_items)

.group_map
  .info_area
    %p.all_n_corporations= sub_title
    %p.title
    %p.address
    %p.phone
    %p.website
    %p.email
  .group_map_background
    - group_map_items.each do |map_item|
      %span.map_item{data: map_item.to_hash}
