%div.markdown_help.text-right
  %a.markdown_help.has_popover.stay_open{href: '#', data: {placement: 'bottom', title: 'Hilfe zur Formatierung: Markdown-Syntax' + '<a href="#" type="button" class="close close_popover">&times;</a>', html: true, content: image_tag('markdown_help.png', width: '526') }}
    = icon 'question-sign'
    Hilfe zur Formatierung
