<span class="profile_field">
  <%
     input_type = 'input'
     input_type = 'textarea' if [ "Address", "Description" ].include? profile_field.type
  %>
  <dt>
    <%= best_in_place profile_field, :label %>
    <% unless profile_field.parent %>
      <%= remove_button( profile_field ) %>
    <% end %>
  </dt>
  <dd>
    <% unless profile_field.children.count > 0 %>
      <%= best_in_place profile_field, :value,
          type: input_type,
	  display_as: :display_html # display_html ist eine Methode in der ProfileField-Klasse
          %>
    <% end %>
    <% if profile_field.children.count > 0 %>
      <dl>
        <% for child_field in profile_field.children %>
          <%= render partial: 'shared/profile_field', object: child_field %>
        <% end %>
      </dl>
    <% end %>
  </dd>
</span>
