.alert.alert-notice
  %strong Lese-Modus:
  Aufgrund von Wartungsarbeiten an der Plattform können derzeit Informationen nur gelesen, nicht aber verändert werden.
  In dringenden Fällen wende Dich bitte per E-Mail an:
  %a{href: 'mailto:plattform-admins@wingolf.org'} plattform-admins@wingolf.org
  