.voting_tools.tool
  -#%a.btn.btn-sbtn-default= icon 'chevron-up'
  -#%a.btn.btn-sbtn-default= icon 'chevron-down'
  %a.btn.btn-sm.btn-default= icon :pushpin
  %a.btn.btn-sm.btn-default= fa_icon :times