#wysihtml-toolbar.wysihtml-toolbar{:style => "display: none;"}
  .btn-toolbar
    .btn-group
      %a.btn.btn-default{data: {wysihtml5_command: 'formatBlock', wysihtml5_command_blank_value: true}}= fa_icon :font
      %a.btn.btn-default{data: {wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h2'}}= fa_icon :header
      %a.btn.btn-default{data: {wysihtml5_command: 'bold'}}= fa_icon :bold
      %a.btn.btn-default{data: {wysihtml5_command: 'italic'}}= fa_icon :italic
    .btn-group
      -#%a.btn.btn-default{data: {wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'blockquote'}}= fa_icon 'quote-right'
      %a.btn.btn-default{data: {wysihtml5_command: 'insertUnorderedList'}}= fa_icon 'list-ul'
      %a.btn.btn-default{data: {wysihtml5_command: 'insertOrderedList'}}= fa_icon 'list-ol'
    %a.btn.btn-default{data: {wysihtml5_command: 'createLink'}}= fa_icon :link
    %span{data: {wysihtml5_dialog: 'createLink'}, style: "display: none;"}
      %label
        = "#{t(:link)}:"
        %input.text{"data-wysihtml5-dialog-field" => "href", :value => "https://"}/
      %a{"data-wysihtml5-dialog-action" => "save"}= t :ok
      %a{"data-wysihtml5-dialog-action" => "cancel"}= t :cancel