%h1= t :import_users
%div
  %table
    %tr
      %th= t :group
      %td= t :import_users_into_group_str, str: group.name
    %tr
      %th Format
      %td Excel
    %tr
      %th Spalten
      %td
        Die zu importierende Datei muss folgender Spalten-Konfiguration entsprechen:

        %table
          %tr
            %th id
            %th Nachname
            %th Vorname
          %tr
            %td
            %td Mustermann
            %td Max

