- # locals:
- attachments ||= []

.image_attachment_thumbnails
  - attachments.each do |attachment|
    = image_tag attachment.medium_url, width: attachment.width, height: attachment.height, data: {attachment_id: attachment.id, image_big_url: attachment.big_url}