- # Locals:
- attachment || raise(ActionController::ParameterMissing, 'no attachment given')

= afterglow_video(attachment)

= render partial: 'attachments/description', locals: {attachment: attachment}
