- @title = title_for_events_index  # see EventsHelper
- set_title @title  # set html title tag

= render partial: 'groups/tabs', locals: {active: 'events'} if @group

- if @all
  = render partial: 'all_events'
- else
  = render partial: 'upcoming_events'
  
