%aside.main-sidebar.sidebar-dark-primary.elevation-4
  .sidebar
    %nav.mt-2
      .sidebar-toggle
        %a{href: "#"}
          %i.fa.fa-angle-left
          %i.fa.fa-bars
      %ul.nav.nav-pills.nav-sidebar.nav-child-indent.flex-column.tav-tree{data: {widget: 'treeview'}}
        = render partial: 'resource_sidebar/lis'