- attachments = page.attachments.includes(:author, :parent).find_without_types("video", "image")
- attachments = attachments.sort_by { |attachment| attachment.created_at }.reverse

- # - attachments = .order('created_at DESC')
- # - attachments = attachments. + attachments.find_by_types('image', 'video').where(author: current_user)

- # Show attachments box if:
- #   (a) There are attachments.
- #   (b) The user can add attachments,
- #          but there are no blog entries.
- #          (If there are blog entries, it is not clear where to put
- #          the attachment.)
- #

- if attachments.count > 0
  = render partial: 'attachments/documents', locals: {attachments: attachments, parent: page}

- if not @blog_entries.present? and not @hide_attachment_drop_fields and not @tag and can?(:create_attachment_for, page)
  .hidden-print= render partial: 'attachments/drop_field', locals: {parent: page}
