- attachments = page.attachments.includes(:author, :parent).find_without_types("video", "image")
- attachments = attachments.sort_by { |attachment| attachment.created_at }.reverse
- show_drop_field ||= false

- if (attachments.count > 0) || show_drop_field
  = render partial: 'attachments/documents', locals: {attachments: attachments, parent: page, show_drop_field: show_drop_field}

