#inline-pictures
  = galleria theme: 'classic' do

    - if primary_teaser_url = page.teaser_image_url
      = image_tag primary_teaser_url

    - (page.possible_teaser_image_urls - [primary_teaser_url]).each do |src|
      = image_tag src

    - page.image_attachments_not_listed_in_content.each do |attachment|
      = attachment_galleria_image_tag attachment
  .picture-info
    .picture-title
      - # Will be filled from app/assets/javascripts/your_platform/gallery.js.coffee if a gallery is used for this teaser image.
