%h1.contact_form{id: "contact-form-page-#{@page.id}-box"}= current_title
%div.contact_form
  - if not can? :use, :contact_forms
    .alert.alert-warning.this_feature_has_been_deactivated
      = t :this_feature_has_been_deactivated
  = render partial: 'contact_messages/form'