.page-header
  .row.align-itens-center
    .col-auto
      .page-pretitle= room.title
      .page-title Bewohner ändern

%vue_new_room_occupancy_form{url: group_room_occupancies_path,
    ':room': room.to_json,
    ':default_study_address': corporation.postal_address.to_json,
    redirect_to_url: redirect_to_url}
