.row
  .col-md-8
    .card
      .card-header
        %h2= semester_calendar.term.title
      %vue_semester_calendar_events{':initial_events': semester_calendar.events.select { |event| can? :read, event }.collect { |event| event.as_json(methods: [:aktive, :philister]).merge({attendees_count: event.attendees.count})}.to_json, ':editable': can?(:update, semester_calendar).to_json, ':group': group.to_json, default_location: group.postal_address, ':semester_calendar': semester_calendar.to_json, ':next_semester_calendar': semester_calendar.next.to_json}

    = render partial: 'pages/public_pages/posts'

  .col-md-4
    = render partial: 'pages/public_pages/events_card'
    = render partial: 'pages/public_pages/profile_card'

