%h1= t :error_has_occurred
%div
  %p Die Fehler-Nachricht lautet wie folgt:
  %pre= @exception
  %p Bitte wenden Sie sich über den blauen Hilfe-Knopf an die Verwaltung, um Hilfestellung bei diesem Problem zu erhalten.
