<h1>Unauthorisierter Zugang</h1>
<div>
  <p>
    Sie sind nicht berechtigt, die angeforderte Resource abzurufen. 
  </p>
  <p>
    Haben Sie sich bereits 
    <%= link_to "beim System angemeldet?", new_user_account_session_url %>
  </p>
  <p>
    Bitte wenden Sie sich im Zweifel an die Geschäftsstelle des Wingolfs.<br />
    <a href="mailto:gfdw@wingolf.org">gfdw@wingolf.org</a>
  </p>
</div>
