%h1 Zugriff nicht authorisiert
%div
  %p Sie sind nicht berechtigt, die angeforderte Seite abzurufen. 
  %p 
    Haben Sie sich bereits 
    = link_to "beim System angemeldet?", new_user_account_session_url
  %p Bitte wenden Sie sich über den blauen Hilfe-Knopf an die Verwaltung, um Hilfestellung bei diesem Problem zu erhalten.
