- contacts || raise(ActionController::ParameterMissing, 'no contacts given')

- contacts.each do |contact|
  = link_to contact.title, user_path(contact, format: 'vcf'), class: 'btn btn-outline-secondary vcf_link'