%strong
  Ich akzeptiere diese Bedingungen. 
  Ich bin 
  - if current_user.female?
    eine Frau
  - elsif current_user.male?
    ein Mann
  - else
    ein Mensch
  der Ehre und Wahrhaftigkeit. 
  Über das Recht hinaus, strebe ich, mich an die guten Sitten zu halten. 
  Di henos panta.