%h2 18. Oktober 2014

Die Plattform ermöglicht es, bestimmte Daten der Bundesbrüder meiner Verbindungen sowie meines Bezirksverbandes zu exportieren. Ich werde die Daten der Plattform nicht missbrauchen (etwa verkaufen oder für unerwünschte Werbezwecke einsetzen), sondern nur im Rahmen meiner Amtsausführung bzw. zum Wingolfswohle einsetzen.

