- # Locals: post
- raise('no post given.') if not post

- if post.attachments.count > 0  
  %div.post-attachments
    %strong= t(:attachments)
    %ol.post_attachments
      - post.attachments.each do |attachment|
        %li
          = awesome_icon(:paperclip)
          = link_to attachment.filename, attachment.file_url, target: '_blank'
