

#breadcrumb{
    background:url(../images/breadcrumb.gif) no-repeat 0px 2px;
    padding-left:18px;
    width:100%;
    font-family: 'AdobeGaramondPro', Helvetica;
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    color:#444444;
}

#breadcrumb a{
    text-decoration: none;
    color:#7e0f0d;
}

