body.iweb-layout
  font-family: 'ArialMT', Arial, sans-serif
  color: rgb(88, 77, 77)
  font-size: 15px

  h2
    font-size: 20px
  h3
    font-size: 17px
  h1, h2, h3, h4
    margin-top: 50px
    margin-bottom: 10px
  h1.panel-title
    margin-top: 5px
    margin-bottom: 10px

  > .container-fluid, > #vue-app > .container-fluid
    max-width: 650px
    margin-left: auto
    margin-right: auto
    padding-left: 10px
    padding-right: 10px

  #horizontal-nav-bar
    text-align: center
    border-bottom: solid 1px #666
    margin-bottom: 1px
    ul.nav
      display: inline-block
      float: none
      font-size: 105%
      font-family: Arial, sans-serif
      li.horizontal-nav-link > a
        color: #666
      li.horizontal-nav-link.active > a
        color: #463C3C
        font-weight: bold
        background: none
      li.horizontal-nav-link.under_this_category > a
        font-weight: bold
    .dropdown-menu > li > a
      white-space: normal

  #header
    padding-top: 10px
    margin-bottom: 15px
    > img
      width: 100%
    #logo
      text-align: center
    #home_page_title
      text-align: center
      font-family: 'Garamond-Bold', 'Garamond', serif
      font-weight: 700
      font-size: 30px
      color: rgb(167, 167, 167)
      .home_page_sub_title
        font-size: 19px
        font-family: 'Garamond', serif
        font-weight: normal
        letter-spacing: 0.24em

  #toolbar
    margin-bottom: 15px

  #horizontal_nav_search
    height: 46px
    input#query
      width: 100%

  .horizontal-nav-session-dropdown > a.current_user_dropdown
    padding: 7px
    .avatar img
      border-radius: 50px

  .box
    border: none
    background: white

  .box.page
    border-bottom: 1px lightgrey solid
    margin-bottom: 65px
    padding-bottom: 24px

  .box.first
    #inline-pictures
      margin-bottom: 65px
    .galleria-container
      -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, color-stop(1, rgba(255, 255, 255, 0.5)), color-stop(0.8, rgba(255, 255, 255, 0)))

  .group_map
    .group_map_background
      background-image: asset-url("bg_group_map_de.png")
    .all_n_corporations
      width: 157px

  #public-root-events-box
    ul.website-events
      padding: 0
      list-style-type: none

      .event.info, .event.location
        display: inline
      .event.location:before
        content: "|"
      .event.name a
        font-size: 11pt
    .semester_calendar
      margin-top: 40px
      img
        border: 1px grey solid
        border-radius: 3px
      .ical_abo_link
        font-size: 80%
        &:before
          content: "("
        &:after
          content: ")"
      h3
        font-size: 12pt
      .semester_calendar_title
        font-size: 10pt

  #footer
    margin-top: 80px
    background: #444
    font-size: 80%
    color: #bbb
    text-align: center
    padding: 20px
    a
      color: #ddd
    ul
      list-style: none
    li
      display: inline
      margin: 12px


// This makes the footer position.
// https://codepen.io/cbracco/pen/zekgx

html
  height: 100%
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  position: relative
  padding-bottom: 16rem
  min-height: 100%

#footer
  position: absolute
  right: 0
  left: 0
  bottom: 0
