#backendBar{
    background:#7e0f0d;
    height:45px;
}

#backendBar * a {
    display:inline-block;
    height:45px;
    text-decoration:none;
    padding:13px 11px 13px 11px;
}

#backendBar .content * {
    color:#fff;
    font-weight:bold;
    font-size:13px;
    height: 45px;
}

#backendBar .content{
    width:846px;
    margin:0 auto;
    position:relative;
}

#backendBar .content ul,
#backendBar .content li{
    margin:0px;
    padding:0px;
    list-style:none;
    display:block;
}

#backendBar .content li{
    float:left;
    padding: 0px;
    position: relative;
    /*height: 19px;*/
}

#backendBar .content li.first {
    margin-right: 100px;
}

#backendBar .content li.last {
    position: absolute;
    right: 0;
}

#backendBar .content li:hover {
    /*border:1px #d5d2cc solid;*/
    background:url('../images/content_wrapper.gif') repeat;
}

#backendBar .content li:hover, 
#backendBar .content li:hover a{
    color:#7e0f0d;
}

