#backendBar
  background: #7e0f0d
  height: 45px
  * a
    display: inline-block
    height: 45px
    text-decoration: none
    padding: 13px 11px 13px 11px
  .content
    *
      color: #fff
      font-weight: bold
      font-size: 13px
      height: 45px
    width: 846px
    margin: 0 auto
    position: relative
    ul
      margin: 0px
      padding: 0px
      list-style: none
      display: block
    li
      margin: 0px
      padding: 0px
      list-style: none
      display: block
      float: left
      padding: 0px
      position: relative
      /*height: 19px;
      &.first
        margin-right: 100px
      &.last
        position: absolute
        right: 0
      &:hover
        /*border:1px #d5d2cc solid;
        background: image-url("content_wrapper.gif") repeat #e8e5de
        color: #7e0f0d
        a
          color: #7e0f0d
