
dl
  .profile_field
    dt
      margin-top: 15px
      margin-bottom: 5px
    dd
      font-weight: normal
      margin-left: 15px

      dl
        display: table
        span
          display: table-row

          dt
            display: table-cell
            font-weight: normal
          dd
            display: table-cell
