body.strappy-layout
  nav.navbar
    background-color: #3a68a2 !important

    .navbar-brand img
      max-height: 48px

    #avatar-navlink
      padding-top: 0
      padding-bottom: 0

  .side-col .box
    h1
      font-size: 1.5em
    h2
      font-size: 1.3em
    h3, h4, h5
      font-size: 1.1em

  .box
    margin-top: 3em

  .vertical_nav
    display: block
    margin-top: 2em
    a.nav-link
      line-height: 1.2

  .avatar img
    border-radius: 100px
    //border: 1px solid lightgrey

  .btn.btn-outline-secondary
    border-color: #ddd

  //a
  //  color: #3a68a2
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link
    background-color: #3a68a2