// There are blog posts with videos. Show these as cinema bar above the content.

.cinema_bar
  display: block
  background: black
  height: 500px
  text-align: center

  video
    width: 100%
    max-height: 90%
    top: 5%
    position: relative

  .video.youtube
    position: auto
    height: 90%
    top: 5%