body.trello .box
  li
    margin: 10px 0px
  span.best_in_place
    border: 1px dotted
    padding: 2px
    width: 100%
    margin: 10px 0px
    display: block
    input
      width: 80%
  img.avatar
    width: 32px
    border-radius: 50px

.trello_card
  display: inline-block
  border: 1px solid lightgrey
  border-radius: 5px
  background: white
  margin-bottom: 6px
  width: 260px
  vertical-align: top
  .labels
    padding-left: 10px
    padding-right: 10px
    padding-top: 10px
    padding-bottom: 0px
  .name
    padding-left: 10px
    padding-right: 10px
    padding-top: 5px
    padding-bottom: 10px
  .label
    color: white
    font: 12px Helvetica Neue,Arial,Helvetica,sans-serif
    font-weight: bold
  .label.green
    background: #61bd4f
  .label.yellow
    background: #f2d600
  .label.blue
    background: #0079bf
  .label.sky
    background: #00c2e0
  .label.orange
    background: #ffab4a
  .label.black
    background: #4d4d4d
  .label.red
    background: #eb5a46
  a, a:hover
    color: #111
    text-decoration: none
    font-size: 11pt
