table.officers
  tr.good
    color: #3c763d
    background-color: #dff0d8
    border-color: #d6e9c6
    a 
      color: #3c763d
  tr.bad
    color: #a94442
    background-color: #f2dede
    border-color: #ebccd1
    a
      color: #a94442