.avatar.thumbnail.pull-left
  .avatar
    display: block
    margin-bottom: 10px
  .remove_avatar
    margin-top: 10px
    height: 19px
    padding-top: 0px

.user_avatar_list
  margin-top: 10px
  margin-bottom: 15px