.edit_mode_group
  .box.panel.panel-default{class: box_class}
    .head.panel-heading.box_header
      %h1.box_heading.panel-title= heading
      = box_toolbar(box_class, @navable, heading)
    .divider
    .content.panel-body.box_content
      = content
