#horizontal_nav
  - if show_resource_nav?
    = render partial: 'layouts/resource_nav'
  - else
    = horizontal_nav_ul do
      - horizontal_nav.link_objects.each do |object|
        - if object.kind_of? Hash
          %li.horizontal-nav-link
            = link_to object[:title], (object[:path] || object.except(:title))
        - else
          - if object.respond_to?(:visible_to?) && object.visible_to?(current_user, preview_as: params[:preview_as])
            %li.horizontal-nav-link{class: horizontal_nav_li_css_class(object), data: {short: ((object.internal_token || object.token) if object.respond_to?(:token))}}
              = link_to_navable (object.nav_title), object