%ul.d-none.d-lg-block.d-xl-block
  - navable.child_groups.each do |child_group|
    %li
      = link_to_navable child_group.title, child_group
      //= child_group.title
      = render partial: 'layouts/nav_dropdown', locals: {navable: child_group}
