- if recent_navables.any?
  #recent_navables.vertical_nav
    %ul.nav.nav-pills.nav-stacked
      %li.nav-header=t :recently_visited
      - recent_navables.each do |navable|
        %li.recent= link_to navable.title, navable, class: navable.class.name.underscore