%span.vertical_nav.vertical_menu.sidebar-nav#vertical_nav{data: {new_menu_feature: can?(:use, :new_menu_feature) ? "true" : nil, nav_configuration: @navable.nav_configuration}}

  %ul.nav.nav-pills.flex-column
    = render partial: 'layouts/vertical_nav_lis', object: @navable, as: :navable

  - if @navable && (can?(:create_page_for, @navable) || can?(:create_group_for, @navable))
    %p= add_structureable_button(@navable)

-#= render partial: 'last_seen_activities/index'
-#= render partial: 'layouts/recent_navables'
-#= render partial: 'layouts/recommended_navables'

= render partial: 'shared/help_video'